@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1399px;
  --breakpoint-2xl: 1650px;
}

:root {
	--background: #faf7f5;
	--foreground: #333333;
	--primary: #e63946;
	--gray: #e5e5e5;
	--light-white: #ffffff;
}
.dark {
  --background: #1a1a1a;   
  --foreground: #f2f2f2;   
  --primary: #e63946;      
  --gray: #3a3a3a;  
  --light-white: #000000;
}

@theme inline {
	--color-primary: var(--primary);
	--color-gray: var(--gray);
	--color-background: var(--background);
	--color-light-white: var(--light-white);
	--color-foreground: var(--foreground);
	--font-montserrat: var(--font-montserrat-sans);
	--font-archivo: var(--font-archivo-sans);
	--font-archivo-black: var(--font-archivo-black);
}

body {
	background: var(--light-white);
	color: var(--foreground);
	font-family: var(--font-montserrat);
}

input {
	outline: none;
}
button {
	cursor: pointer;
}
