@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
	--breakpoint-*: initial;
}

@custom-variant 2xl (@media (min-width: 1650px));
@custom-variant xl (@media (min-width: 1399px));
@custom-variant lg (@media (min-width: 1200px));
@custom-variant md (@media (min-width: 992px));
@custom-variant sm (@media (min-width: 768px));
@custom-variant xs (@media (min-width: 480px));
@custom-variant xxs (@media (min-width: 360px));

:root {
	--background: #faf7f5;
	--foreground: #333333;
	--primary: #e63946;
	--gray: #e5e5e5;
}

@theme inline {
	--color-primary: var(--primary);
	--color-gray: var(--gray);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-montserrat: var(--font-montserrat-sans);
	--font-archivo: var(--font-archivo-sans);
	--font-archivo-black: var(--font-archivo-black);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat);
}

input {
	outline: none;
}
button {
	cursor: pointer;
}
.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
}
